.error {
    font-size: 15px;
    color: #FF0000;
}

.message {
    font-size: 15px;
    color: #110dff;
}

.search_item {
    margin-bottom: 20px;
}

.search_link {
    text-decoration: none;
    font-size: 18px;
}

.search-caption {
     font-size: 14px;
}

.search-description {
    font-size: 20px;
}